[submodule "vendor/duktape"]
	path = vendor/duktape
	url = git@github.com:svaarala/duktape.git
[submodule "vendor/glad"]
	path = vendor/glad
	url = git@github.com:Dav1dde/glad.git
	branch = master
[submodule "tools/shaderc"]
	path = tools/shaderc
	url = git@github.com:google/shaderc.git
[submodule "tools/googletest"]
	path = tools/googletest
	url = git@github.com:google/googletest.git
[submodule "tools/glslang"]
	path = tools/glslang
	url = git@github.com:google/glslang.git
[submodule "tools/spirv-tools"]
	path = tools/spirv-tools
	url = git@github.com:KhronosGroup/SPIRV-Tools.git
[submodule "tools/spirv-headers"]
	path = tools/spirv-headers
	url = git@github.com:KhronosGroup/SPIRV-Headers.git
